.orderName {
    height: 26px;
    overflow: hidden;
}
.status {
    color: #00CCCC;
}
.ingredientsContainer {
    overflow-y: scroll;
    height: 282px;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ingredientsContainerItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ingredientsContainerItem img {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    position: relative;
    border-radius: 50%;
    background-color: #1C1C21;
    border: #4C4CFF solid 2px;
    overflow: hidden;
}
.ingredientsContainerItem .imgAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.orderItemDate {
    color: #8585AD;
}
.price {
    display: flex;
    align-items: center;
}