.modal {
  z-index: 1001;
  position: fixed; 
  margin: auto;
  width: 720px;
  height: 458px;
  left: calc((100vw - 720px) / 2);
  top: calc((100vh - 540px) / 2);
  display: none;
  background: rgba(28, 28, 33, 1);
  border-radius: 40px;
  padding: 40px;
}
.modalIngredient {
  top: calc((100vh - 540px) / 2);
}
.modalOrder {
  height: 560px;
  top: calc((100vh - 640px) / 2);
}
.modalFeedOrder {
  height: 560px;
  top: calc((100vh - 640px) / 2);
}
svg {
  cursor: pointer;
}
.modalHeader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.isOpen {
  display: block;
}