.wrap {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  text-align: center;
}
.image {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  height: 240px;
}
.img {
  width: 100%;
  height: auto;
}
.name {

}
.energyМalue {
  display: flex;
  justify-content: space-between;
}
.energyМalueItem {

}