/* default styles  */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my styles */
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.constructor-element {
  width: 488px;
}

main, 
.container {
  width: 1280px;
  margin: auto;
}
main {
  height: calc(100vh - 128px);
  display: flex;
  overflow: hidden;
}
main .left,
main .right {
  width: 600px;
  padding: 0 20px;
}
main .left {

}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #2F2F37;
}
::-webkit-scrollbar-thumb {
  background: #8585AD;
  border-radius: 0px;
}